@media (max-width: 400px) {

    .nav{
        height: 8vh;
        background: 100%; 
        background: radial-gradient(circle, rgba(97,173,229,1) 0%, rgba(238,146,227,1) 0%, rgba(143,140,226,1) 50%, rgba(103,170,245,1) 100%);
        font-size: 3.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        
        
      }
    .container {
 
    
    max-width:fit-content;
      /* flex-direction: column; */
    }
    .key{
   
      height: 80px;
      width: 80px;
      padding: 10px;
      margin: 5px; 
      background: rgba(255, 255, 255, 0.17);
      border-radius: 50%;
      box-shadow: 0 0px 30px rgba(235, 231, 231, 0.1);
      backdrop-filter: blur(1.7px); 
      -webkit-backdrop-filter: blur(1.7px); 
      border: 1px solid rgba(240, 5, 5, 0.1);
      font-size: 1.5em;
      color: rgb(37, 35, 35);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      
    }
    
  }